NEXT_PUBLIC_SUPABASE_URL= https://nbnvcckxdupwwgkxidqn.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY= sb_publishable_dYrDqG6Pa7pNoKMtTbIbbw_ngzgT8-3
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ibnZjY2t4ZHVwd3dna3hpZHFuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTEwNjYxNSwiZXhwIjoyMTA0NjgyNjE1fQ.mIqbsUDZk9tde7vxuZ15FvbpKrnkvhUUNSUv7fP_NR8
NEXT_PUBLIC_SITE_URL=http://localhost:3000
UNSPLASH_ACCESS_KEY=hVqxRzv2oJ9R8If0BZSiqLxG467-oHGIuFZv8GK0Ys8
OPENROUTER_API_KEY=sk-1726fe2d3f9549e9-q3d02k-88385b33